/.project
/.DS_Store
/Simple.class
/TestClass.class
/TestClass.java
/report.json
/logs/
/target/
/qf.json
/BagTest.class
/output
/src/main/java/eu/qped/java/checkers/style/resources/report.json
/src/main/resources/exam-results/GrayCode.java
/src/main/resources/exam-results/src/GrayCode.java

