/.project
/.DS_Store
/Simple.class
/TestClass.class
/TestClass.java
/report.json
/logs/
/target/
/qf.json
/BagTest.class
/output
/src/main/java/eu/qped/java/checkers/style/resources/report.json
/DCTest.java
/src/main/java/eu/qped/java/utils/compiler/compiledFiles/DCTest.class
/src/main/java/eu/qped/java/utils/compiler/compiledFiles/GrayCode.class
/src/main/java/eu/qped/java/utils/compiler/compiledFiles/Macher.class
/src/main/java/eu/qped/java/utils/compiler/compiledFiles/Mmm.class
/src/main/java/eu/qped/java/utils/compiler/compiledFiles/Omar.class
/.idea/
/src/test/java/eu/qped/java/.DS_Store
/.gitignore
/src/main/resources/exam-results/GrayCode.java
/src/main/resources/exam-results/src/GrayCode.java

/src/main/java/eu/qped/java/utils/compiler/compiledFiles/
/tmp/
/src/main/resources/exam-results/
/Simple.java
/qf-copy.json
/src/test/java/eu/qped/java/checkers/metrics/res/
/DCTest.class
